<div class="zone diapo_top {{ zone.subtype }} {{ page.type.name }}">
    <div class="content">
        <h{{zone.typehead}} class="title">{{ zone.detail(locale).title }}</h{{ zone.typehead}}>
        <div class="desc">{{ zone.detail(locale).description | raw }}</div>
        <div class="desc">{{ zone.detail(locale).description2 | raw }}</div>

    </div>
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for photo in zone.photos  %}
                <div class="swiper-slide item photo " data-id="{{ photo.id }}" data-name="{{ fileName(photo,locale) }}">
                    <img alt="{{ photo.detail(locale).title }}" />
                </div>
            {% endfor %}
        </div>
        <div class="swiper-controls">
            <div class="swiper-button-prev"><i class="fal fa-chevron-left"></i></div>
            <div class="swiper-button-next"><i class="fal fa-chevron-right"></i></div>
        </div>
    </div>
</div>